@import 'reset';

nav {
  width: 100vw;
  height: 5vh;
  background: papayawhip;
}

header {
  width: 100vw;
  height: 15vh;
  background: #b2b6e6;
}

section:first-of-type {
  display: flex;

  div {
    display: inline-block;
    height: 55vh;
  }

  div:first-child {
    flex-grow: 1;
    max-width: 33.333%;
    background: #b2e6ce;
  }

  div:last-child {
    flex-grow: 2;
    background: #d8f3e7;
  }
}

section:nth-of-type(2) {
  display: flex;

  div {
    display: inline-block;
    height: 20vh;
    flex-grow: 1;
    max-width: 33.333%;
  }

  div:nth-child(1) {
    background: #d88d9b;
  }

  div:nth-child(2) {
    background: #e6b2bc;
  }

  div:nth-child(3) {
    background: #f3d8dd;
  }
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  section:nth-of-type(2) {
    flex-direction: column;

    div {
      max-width: 100%;
      height: 6.66vh;
    }
  }
}

footer {
  width: 100vw;
  height: 5vh;
  background: papayawhip
}
